.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.first-sectio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdcdcd;
    width: 100%;
}
.second-section {
    background-color: #aa7f7f;
    width: 100%;
}
.third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6e5d5d;
    width: 100%;
}
.fourth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #cdcdcd;
    width: 100%;
}

img {
    width: 200px;
    height: 200px;
}

table, th, td{
    border: 2px solid green;
}